# build.yml kanged from Rezoss Reza modified to build kernel with ReSukiSU-main
name: Build kernel (ReSukiSU, SuSFS, Manual Hooks, KPM Patched)
on:
  #schedule:
    #- cron: '0 4 * * *'  # Runs every day at 04:00 UTC
  workflow_dispatch: # Allow manual trigger if needed
  #push:
    #paths:
      #- '.github/workflows/kernel-build.yml'
      #- 'anykernel.zip'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4 

      - name: Set up the toolchain
        run: |
          sudo apt update
          sudo apt install -y \
            bc bison build-essential curl flex \
            g++-multilib gcc-multilib git gnupg \
            lib32readline-dev lib32z1-dev \
            libelf-dev liblz4-tool libssl-dev \
            lzop zlib1g-dev pahole dwarves cpio zip \
            python3 python-is-python3 tar perl lz4 jq

      - name: Clone source
        run: |
          git clone --depth=1 -b android13-5.15 https://github.com/SnowyGround/kernel_samsung_sm8550-common.git kernel

          # Determine the current kernel version
          echo "KERNEL_VERSION=$(grep -m1 '^SUBLEVEL =' ./kernel/Makefile | awk '{print $3}')" >> $GITHUB_ENV
          
      - name: Apply ReSukiSU and Baseband Guard
        run: |
          set -euxo pipefail
          cd kernel
          
          # Integrate the main ReSukiSU 
          curl -LSs "https://raw.githubusercontent.com/ReSukiSU/ReSukiSU/main/kernel/setup.sh" | bash -s main

          # Determine the tag of the latest release of ReSukiSU
          echo "RESUKISU_VERSION=$(curl -s "https://api.github.com/repos/ReSukiSU/ReSukiSU/tags" \
          | jq -r '.[0].name' | sed 's/^v//' | tr -d '.')" >> $GITHUB_ENV
                    
          # Compute version code = commit count + 10200 (same scheme as KernelSU CI)
          COMMITS="$(git -C "./KernelSU" rev-list --count HEAD || echo 0)"
          RESUKISU_VER_CODE=$((40000 + COMMITS - 2815))
          echo "RESUKISU_VER_CODE=$RESUKISU_VER_CODE" >> "$GITHUB_ENV"                              

          
          PATCH_URL="https://api.github.com/repos/topnotchfreaks/kernel_patches/releases/latest"
          SUSFS_PATCH=$(curl -s "$PATCH_URL" | grep "browser_download_url.*0001-Implement-SUSFS.*Android-13.*Kernel-5.15.*patch" | cut -d '"' -f 4 | head -n 1)

          # SuSFS Patch
          if [ -n "$SUSFS_PATCH" ]; then
            curl -L -o susfs.patch "$SUSFS_PATCH"
            patch -p1 < susfs.patch || echo "Warning: SUSFS patch failed"
          fi
          
          # Apply syscall hooks
          curl -L -o hooks.patch "https://raw.githubusercontent.com/topnotchfreaks/kernel_patches/main/scope_min_manual_hooks_v1.6.patch"
          patch -p1 < hooks.patch || echo "Warning: Syscall hooks failed"
          
          # Add KSU configs
          CONFIG_FILE="arch/arm64/configs/defconfig"
          cat >> "$CONFIG_FILE" << 'EOF'
          CONFIG_KSU=y
          CONFIG_KSU_MANUAL_HOOK=y
          CONFIG_KSU_SUSFS=y
          CONFIG_KSU_SUSFS_HAS_MAGIC_MOUNT=y
          CONFIG_KSU_SUSFS_SUS_PATH=y
          CONFIG_KSU_SUSFS_SUS_MOUNT=y
          CONFIG_KSU_SUSFS_AUTO_ADD_SUS_KSU_DEFAULT_MOUNT=y
          CONFIG_KSU_SUSFS_AUTO_ADD_SUS_BIND_MOUNT=y
          CONFIG_KSU_SUSFS_SUS_KSTAT=y
          CONFIG_KSU_SUSFS_SUS_OVERLAYFS=n
          CONFIG_KSU_SUSFS_TRY_UMOUNT=y
          CONFIG_KSU_SUSFS_AUTO_ADD_TRY_UMOUNT_FOR_BIND_MOUNT=y
          CONFIG_KSU_SUSFS_SPOOF_UNAME=y
          CONFIG_KSU_SUSFS_ENABLE_LOG=y
          CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y
          CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y
          CONFIG_KSU_SUSFS_OPEN_REDIRECT=y
          CONFIG_KSU_SUSFS_SUS_SU=n
          CONFIG_TMPFS_XATTR=y
          CONFIG_TMPFS_POSIX_ACL=y
          EOF
          
          # ReSukiSU KPM
          echo "CONFIG_KPM=y" >> ./arch/arm64/configs/gki_defconfig
          sed -i '/config KPM/{:a; n; s/^\s*default n/default y/; ta;}' KernelSU/kernel/Kconfig
          
          # Adding BBG support
          #wget -O- https://github.com/vc-teahouse/Baseband-guard/raw/main/setup.sh | bash
          #echo "CONFIG_BBG=y" >> ./arch/arm64/configs/gki_defconfig
          #sed -i 's/\(CONFIG_LSM="[^"]*\)"/\1,baseband_guard"/' ./arch/arm64/configs/gki_defconfig
          #sed -i '/^config LSM$/,/^help$/{ /^[[:space:]]*default/ { /baseband_guard/! s/lockdown/lockdown,baseband_guard/ } }' ./security/Kconfig
          

      - name: Set up swap space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 16

      - name: Build the kernel
        run: |
          cd kernel
          chmod +x scripts/build.sh
          ./scripts/build.sh 2>&1 | tee "$GITHUB_WORKSPACE/build.log"
      
      - name: KPM Patching
        run: |
          cd kernel/out/arch/arm64/boot/
          curl -LSs "https://raw.githubusercontent.com/ShirkNeko/SukiSU_patch/refs/heads/main/kpm/patch_linux" -o patch
          chmod 777 patch
          ./patch
          rm -rf Image Image.gz
          mv oImage Image
          gzip -k -9 -n Image
          cd ../../../../..    


      - name: Package image with AnyKernel3
        id: package
        run: |
          set -euxo pipefail
          unzip "${GITHUB_WORKSPACE}/anykernel.zip" -d anykernel/
          cp kernel/out/arch/arm64/boot/Image.gz anykernel/
          # Build final name
          ZIP_NAME="common-6.12.58-3d64R-resukisu${RESUKISU_VERSION}-${RESUKISU_VER_CODE}_KPM-manual-$(date +%d%m%y-%H%M%S)"
          cd anykernel
          zip -r0 ../"${ZIP_NAME}".zip ./*
          echo "zip_path=$GITHUB_WORKSPACE/${ZIP_NAME}.zip" >> "$GITHUB_OUTPUT"
          echo "zip_name=${ZIP_NAME}" >> "$GITHUB_OUTPUT"
          cd ..

      - name: Upload the flashable kernel
        uses: actions/upload-artifact@v4
        with:
          name: ${{steps.package.outputs.zip_name}}
          path: anykernel/
      
      - name: Create GitHub Release and upload asset
        if: github.event_name != 'pull_request'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: experimental_build-${{ github.run_id }} 
          target_commitish: ${{ github.sha }}
          name: "ReSukiSU Kernel Build by ${{ github.repository }}"
          generate_release_notes: true
          files: ${{ steps.package.outputs.zip_path }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}   
